[versions]
# kotlin
kotlin = "2.2.0"
serialization = "1.9.0"

[libraries]
# build
build-kotlin = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
build-serialization = { module = "org.jetbrains.kotlin:kotlin-serialization", version.ref = "kotlin" }

[bundles]
build = [
    "build-kotlin",
    "build-serialization",
]
